.nav{
	padding-top: 1rem;
}

.navbar{
	padding-top: 0 !important;
}
.nav, .navbar{
	width: 85%;
	margin: 0 auto;
}
.text-menu{
font-size: 25px;
color: white !important;
text-shadow: 3px 2px 4px rgb(19, 18, 18);
}
.li-menu{
	margin-left: 1rem !important;
}
.icon1:hover{
	box-shadow: 3px 2px 4px rgb(19, 18, 18);
	transition-duration: .5s;
}
.li-menu:hover{
	color: #ddeff1 !important;
}
